.Tipper {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 20px;
}

.Tipper .tipButtonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Tipper .tipButtons {
  width: 40%;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 0;
}

.Tipper .bill,
.people {
  display: flex;
  flex-direction: column;
}

.Tipper .inputs {
  width: 100%;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  justify-content: space-between;
}

.Tipper .tipForm {
  margin-bottom: 20px;
}

.Tipper .icons {
  width: 15px;
  height: 30px;
  transform: translate(10px, 2px);
}

#custom {
  text-align: center;
}

.Tipper .resultHeading {
  color: hsl(189, 41%, 97%);
}

.Tipper .tipResult {
  background-color: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 20px;
}

.Tipper .personText {
  font-size: 16px;
  color: hsl(185, 41%, 84%);
}

.Tipper .resultNumbers {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
}

.Tipper .resetButton {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

.Tipper .resultDiv {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .Tipper {
    flex-direction: row;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .Tipper .tipButtons {
    width: 30%;
  }
  .Tipper .tipForm {
    flex: 1;
  }
  .Tipper .tipResult {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .Tipper .tipForm {
    padding: 20px;
  }

  .Tipper .resetButton {
    margin: 0;
  }
}
