body {
  margin: 0;
  font-family: "Space Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(185, 41%, 84%);
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
p,
button,
input {
  margin: 0;
  padding: 0;
}

input {
  box-sizing: border-box;
  background-color: hsl(185, 41%, 84%);
  color: hsl(186, 14%, 43%);
  text-align: right;
  padding: 0 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

button,
input {
  font-family: "Space Mono", monospace;
  border-style: none;
  font-size: 24px;
}

button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(185, 41%, 84%);
}

button:hover {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}

h2 {
  font-size: 20px;
}
